
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');



 /*ELISEN VISA SIVU*/
 
 #englanti_lippu {
     max-width: 100%;
     display: inline-block;
     width: 15%;
 }
 .visa_elise {
     font-size: 20px !important;
 }
 .visa_loppu p {
     color: #8cd9b3;
     font-size: 20px;
 }
 #oikeat, #väärät, #pisteet {
     color: #cc6697;
 }
 .keskitetty {
     margin: auto; 
     max-width: 300px;}
 
 /*Elise matikka*/

#matikkaEL {
     background-color: rgb(204,102,151,0.6);
     border-radius: 15px;
 }
 .matikkaAloitusEL {
     background-color: #993366 !important;
 }
 .matikkaTarkistaEL {
     background-color: #8cd9b3 !important;
 }
 .matikkaJatkaEL {
     background-color: #993366 !important;
 }

 .matikkaAloitusEL:hover {
     color: white !important;
     border: 2px solid black !important;
 }
 /*KUKKA palkinto*/
 .joku {
     width: 3em;
     display: inline-block;
 }
 /*Kukka palkinto aloitustekstissä*/
 .joku1 {
     width: 1.5em;
     display: inline-block;
 }