/* Visa tyylimäärittely */

#lopputulos {
    font-size: 30px;
}

/*Matikka määrittelyt*/
.tarkista {
    background-color: #007bff !important;
}

.seuraava{
    background-color: #007bff !important;
}

.uudestaan{
    background-color: #007bff !important;
}

