

 /*VISA TYYLIMÄÄRITTELYT*/
 
.seuraava {
    background-color: #8cd9b3 !important;
}
.vaarin {
    background-color: lightcoral !important;
    border-radius: 5px;
}
.oikein {
    background-color: #8cd9b3 !important;
    border-radius: 5px;
}
.oikea_vastaus {
    font-weight: bolder !important;
    color: black !important;
}
.vastaus_teksti {
    color: black !important;
}
.hided {
    display: none;
}

.reset {
    width: 200px;
    background-color: #8cd9b3 !important;
}

.kommentti {
    color: lightcoral !important;
    font-weight: bolder !important;
}
.tarkista {
    background-color: #8cd9b3 !important;
}