/*Author: Maarit Kokko*/

 /*VISAN TYYLIMÄÄRITTELYT*/
 
.seuraava {
    background-color: #8cd9b3 !important;
    color: #cc6697 !important;
}
.vaarin {
    background-color: lightcoral !important;
}
.oikein {
    background-color: lightgreen !important;
}
.oikea_vastaus {
    font-weight: bolder !important;
    color: black !important;
}
.vastaus_teksti {
    color: black !important;
}

.hided {
    display: none;
    font-size: 24px;
    
}

.visa_teksti {
    font-size: 24px !important;
}

/*MATIKKAPELIN TYYLIMÄÄRITTELYT*/

h2 {
    font-size: 40px !important;
}

.tarkista {
     background-color: rgb(242, 177, 65) !important;
     color: black !important;
     border-radius: 15px !important;
}

.aloitus {
    background-color: #8cd9b3 !important;
    color: #cc6697 !important;
    border-radius: 15px !important;
}

.swal-modal {
  background-color: lightyellow;
 border-radius: 20px;
}

.swal-button {
  padding: 7px 19px;
  background-color: #8cd9b3;
  font-size: 12px;
  border-radius: 15px;
  text-shadow: 0px -1px 0px black;
}

.swal-button--text {
    background-color: lightyellow;
}


.swal-text  {
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
    color: black;
}

.peli2 {
   background-repeat: no-repeat;
   background-position: center;
   width: 150px;
   height: 240px;
}

#numero1 {
    color: white;
    font-size: 28px !important;
}

#numero2 {
    color: white;
    font-size: 28px !important;
}

#plussa {
    color: white !important;
    font-size: 28px !important;
}

#laskep {
    font-size: 24px !important;
    color: white;
    margin-top: 4px;
}

#fontti {
    font-size: 24px !important;
}







