/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3.12.2019, 15:34:54
    Author     : Iikka Salmi
*/

/* Visan omia määrittelyjä */
#lopputulos {
    font-size: 30px;
}
 .keskitetty {
     margin: auto; 
     max-width: 300px;}



/* Nappien tyylimäärittelyjä, lainattu osoitteesta https://www.fabriziovanmarciano.com/button-styles/ */
.nappityyli {
   border-radius: 8px;
   background: linear-gradient(to right, #67b26b, #02e8af) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 20px;
   padding: 20px;
   width: 200px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }
 .nappityyli span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .nappityyli span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .nappityyli:hover span {
   padding-right: 25px;
 }
 .nappityyli:hover span:after {
   opacity: 1;
   right: 0;
 }

.nappityyli2 {
color: #ffffff !important;
text-transform: uppercase;
text-decoration: none;
background: #993366;
padding: 10px;
border: 2px solid white !important;
border-radius: 10px;
display: inline-block;
transition: all 0.4s ease 0s;
}

.nappityyli2:hover {
color: #993366 !important;
background: #8cd9b3;
border-color:  white !important;
transition: all 0.4s ease 0s;
}
 
/* Matikkatehtävän tulostus-tähtien sijoitus ja animaatio */ 
/* https://jsfiddle.net/gionaf/Ugc5g/ */

p#result {
     position: absolute;
     bottom: 0;
     left: 5px;
     right: 5px;  
}
 .tahti1 {
     display: inline-block;
   animation:spin 4s linear infinite;
    width: 2.5em;
 }

 
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  
 #result2 {
     display: inline-block;
     position: absolute;
     bottom: 0;
     left: 5px;
     right: 5px;
 }
 

 
  /*Pienentää tähtiä, kun kuvaa skaalataan pienemmäksi, jotta tähdet pysyvät samalla rivillä */
 @media screen and (max-width: 768px) {
  .tahti1 {
     display: inline-block;
   animation:spin 4s linear infinite;
    width: 2em;
 }   
 }
 
 
 