/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}


/*tästä alkaa omat tyylimäärittelyt*/
p{
    font-size: 20px !important;
}

.ylaosa{
    margin: 10px;
    background-color: rgba(255,255,250,0.9);
    border-radius: 15px;
}
div.container {
    text-align: center;
    font-family: 'Patrick Hand', cursive !important;
}

.nav-link {
    color: #cc6697 !important;
    border-radius: 15px;
    background-color: #8cd9b3;
    width: 100px;
    
    font-size: 20px;
    border-style: inset !important;
    border: 5px #87592c !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
.dropdown-item {    
    color: #cc6697 !important;
    background-color: #c6ebd8 !important;
    font-size: 18px;   
}
.dropdown-menu {
    background-color: #c6ebd8 !important;
    border-radius: 10px !important;
}
.nav-link:hover {
    color: #993366 !important;
}
.perussivu {
    min-height: 550px;
    background-color: rgba(255,255,250,0.9);
    border-radius: 15px;
}
.footer_oma{ 
    color: #993366;
    font-family: 'Amatic SC', cursive !important;
    font-size: 20px !important;
    font-weight: bolder !important;
    background-color:  transparent;
    background-color: rgba(255,255,250,0.9);
    border-radius: 15px;
    margin: 10px;
}
.footer_oma h3{ 
    color: #993366;
    font-family: 'Amatic SC', cursive !important;
    font-size: 30px !important;
    font-weight: bolder !important;
}

h1 {
    color: #993366 !important;
    font-family: 'Amatic SC', cursive !important;
    font-size: 60px !important;
    font-weight: bolder !important;
}


h2 {
    color: #87592c;
}
h3 {
    color: #e62e00;
}
nav{   
    width: 100%;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(204,102,151,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
#koulukuva {
    max-width: 100%;
    width: 50%;
    border-radius: 10px;
        
}

 /*VISA TYYLIMÄÄRITTELYT*/
 
.seuraava {
    background-color: #8cd9b3 !important;
}
.vaarin {
    background-color: lightcoral !important;
    border-radius: 5px;
}
.oikein {
    background-color: #8cd9b3 !important;
    border-radius: 5px;
}
.oikea_vastaus {
    font-weight: bolder !important;
    color: black !important;
}
.vastaus_teksti {
    color: black !important;
}
.hided {
    display: none;
}


